.profile {
    max-width: 880px;
    margin: 0 auto;
    min-height: 120px;
    display: grid;
    grid-template-columns: 120px auto auto;
    grid-template-rows: 120px;
    column-gap: 30px;
    align-items: center;
}